@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-background-color: rgb(32, 32, 32);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

html {
  width: 100%;
  height: 100dvh;
  color: #fff;
  font-family: var(--font-geist-sans), sans-serif;
  background: var(--global-background-color);
  user-select: none;
}
